In [1]:
import pandas as pd

In [2]:
dfi=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_enrolment/api_data_aadhar_enrolment_0_500000.csv')
dfii=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_enrolment/api_data_aadhar_enrolment_500000_1000000.csv')
dfiii=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_enrolment/api_data_aadhar_enrolment_1000000_1006029.csv')

In [3]:
df1=pd.concat([dfi,dfii,dfiii])

In [18]:
df1.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [6]:
df1.shape

(1006029, 7)

In [ ]:
dfj=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_demographic/api_data_aadhar_demographic_0_500000.csv')
dfjj=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_demographic/api_data_aadhar_demographic_500000_1000000.csv')
dfjjj=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_demographic/api_data_aadhar_demographic_1000000_1500000.csv')
dfjv=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_demographic/api_data_aadhar_demographic_1500000_2000000.csv')
dfv=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_demographic/api_data_aadhar_demographic_2000000_2071700.csv')

In [17]:
df2=pd.concat([dfj,dfjj,dfjjj,dfjv,dfv])

In [19]:
df2.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [20]:
df2.shape

(2071700, 6)

In [21]:
dfk=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_biometric/api_data_aadhar_biometric_0_500000.csv')
dfkk=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_biometric/api_data_aadhar_biometric_500000_1000000.csv')
dfkkk=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_biometric/api_data_aadhar_biometric_1000000_1500000.csv')
dfkv=pd.read_csv('c:/Users/Tarun/Desktop/Hackathon Data/api_data_aadhar_biometric/api_data_aadhar_biometric_1500000_1861108.csv')

In [22]:
df3=pd.concat([dfk,dfkk,dfkkk,dfkv])

In [23]:
df3.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

In [24]:
df3.shape

(1861108, 6)

In [ ]:
df1.to_csv('aadhar_enrolment_data.csv',index=False)

In [ ]:
df2.to_csv('aadhar_demographic_data.csv',index=False)

In [ ]:
df3.to_csv('aadhar_biometric_data.csv',index=False)